body {
    margin: 0;
    font-family: Arial;
}

nav {
    background-color: rgb(154, 205, 50);
    width: 100%;

}

nav ul {
    display: flex;
    justify-content: space-between;
}

nav ul div {
    display: flex;
    justify-content: space-between;
}

nav ul div li {
    list-style: none;
    padding: 10px;
}

nav ul div li:hover {
    background-color: rgba(154, 205, 50, 0.5);
}

nav ul div li a {
    text-decoration: none;
    font-size: 1.8em;
    color: black;
    font-weight: bold;
}


.catalog-item {
    width: 200px;
    background-color: beige;
    height: 300px;
    margin: 5px;
}

.order-item {
    width: 100%;
    background-color: darkkhaki;
    height: 100px;
    margin: 5px;
}

.catalog-img {
    font-size: 100px;
}

.cart-button, .catalog-buy-button {
    margin: 5px;
    padding: 5px;
    border: 1px solid yellow;
    background-color: yellowgreen;
    text-align: center;
}

#catalog-items {
    display: flex;
}

a.catalog-buy-button {
    display: block;
}

.cart-item {
    justify-content: space-between;
    display: flex;
    margin: 5px;
    border: 1px solid yellowgreen;
    padding: 5px;
}

.cart-quantity {
    margin: 10px;
}

.cart-price {
    margin: 10px;

}

.cart-control {
    display: flex;
}

#cart-total-price {
    font-weight: bold;
}
